:root {
  font-size: 1rem;
}

* {
  margin: 0;
  font-family: helvetica;
}

Header {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  height: contain;
  justify-content: space-between;
  -webkit-box-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 4px black;
}

Header .header-text-block {
  padding: 1rem;
  text-align: left;
}

Header h1 {
  font-size: 1.6rem;
}

Header h1 sup {
  font-size: 50%;
}

Header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -ms-align-items: end;
  align-items: end;
  list-style: none;
  padding: 1rem;
}

Header nav ul li {
  padding-right: 1rem;
}

Header a {
  text-decoration: none;
  color: black;
}

Header svg {
  background-image: url('./menu.svg');
  height: 40px;
  width: 40px;
}

Header details::-webkit-details-marker,
Header summary::-webkit-details-marker {
  display: none;
}


/* HOME */

section {
  padding: 2rem;
  height: 80vh;
}
