:root {
  font-size: 1rem;
}

* {
  margin: 0;
  font-family: helvetica;
}

Header {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  /* flex-direction: column; */
  height: contain;
  justify-content: space-between;
  -webkit-box-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 4px black;
  width: 100%;
}

Header .header-text-block {
  padding: 1rem;
  text-align: left;
}

Header h1 {
  font-size: 1rem;
}

Header h1 sup {
  font-size: 50%;
}

Header nav {
  text-align: center;
}

Header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -ms-align-items: end;
  align-items: end;
  list-style: none;
  padding: 1rem;
}

Header nav ul li {
  padding-right: 1rem;
}

Header a {
  text-decoration: none;
  color: black;
}

Header svg {
  background-image: url('./menu.svg');
  background-position: center;
  height: 0px;
  width: 0px;
}

Header summary {
  padding: 0.6rem;
}

Header details:open {
  text-align: center;
}

Header details::-webkit-details-marker,
Header summary::-webkit-details-marker {
  display: none;
}


/* HOME */

section {
  padding: 1rem;
  min-height: 80vh;
  /* background-image: url('./stripes-black-white-diagonal.png');
  background-size: cover;
  background-repeat: no-repeat; */
}

section h2 {
  -webkit-text-shadow: 2px 2px 4px white;
  text-shadow: 0px 0px 100px white;
}

.red-tag {
  background-color: transparent !important;
  /* background-size: 400px 81px; */
  height: 60px;
  /* width: inherit; */
  /* width: 200px; */
  /* background-image: url('./red-tag-opaque.jpg'); */
  /* background-repeat: no-repeat; */
  /* -webkit-transform: rotate(220deg);
  transform: rotate(220deg); */
}

.content-block {
  margin: 2rem 0 0 0;
  padding: 1rem;
  width: contain;
  border-left: 4px solid black;
  /* border-radius: 6px;
  -webkit-box-shadow: 1px 1px 6px black;
  box-shadow: 0px 0px 20px black; */
}
